@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    border: 0;
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    outline: 0;
    padding: 0;
    text-decoration: none;
}

$black-color: #0c031b;
$container-lg: 82%;
$container-md: 90%;
$dark-color: rgba($black-color, 0.7);
$light-color: rgba($white-color, 0.7);
$primary-color: #480cab;
$primary-color-variant: #4cc9f0;
$secundary-color: #f72585;
$success-color: #54eb72;
$white-color: #ffffff;
