@mixin button($textColor: $white-color, $backgroundColor: $secundary-color) {
    background: $backgroundColor;
    border-radius: 0.4rem;
    color: $textColor;
    cursor: pointer;
    display: inline-block;
    padding: 0.75rem 1rem;
    transition: all 400ms ease;
    width: fit-content;

    &:hover {
        background: lighten($backgroundColor, 8%);
        box-shadow: 0 1rem 1.6rem rgba($black-color, 0.15);
    }
}

@mixin gradiantBackground {
    background: linear-gradient(135deg, $primary-color, $primary-color-variant);
    color: $white-color;
}
