nav {
    box-shadow: 0 1rem 1rem rgba($black-color, 0.1);
    display: grid;
    height: 5rem;
    place-items: center;
    position: fixed;
    width: 100vw;
    z-index: 10;
    @include gradiantBackground;

    .container {
        align-items: center;
        display: flex;
        justify-content: space-between;

        ul {
            align-items: center;
            display: flex;
            gap: 3rem;
        }

        /* only needed in medium and small devices */
        button {
            display: none;
        }

        a {
            color: $white-color;
            font-size: 0.9rem;
            font-weight: 400;
        }

        .nav__logo h3 {
            color: $white-color;
        }
    }
}

/* ========================== MEDIA QUERIES (MEDIUM DEVICES) ========================== */
@media screen and (max-width: 1024px) {
    nav {
        .container {
            button {
                background: transparent;
                color: $white-color;
                cursor: pointer;
                font-size: 2rem;
                display: inline-block;

                &#close__nav-btn {
                    display: none;
                }
            }

            ul {
                align-items: flex-start;
                flex-direction: column;
                gap: 0;
                position: fixed;
                right: 5%;
                top: 5rem;
            }
        }
    }
}
